.more{
    position: absolute;
    top: 60rem;
    left: 5rem;
    right: 5rem;


    .change-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       


        .more-h2{
            font-size: 45px;
        }
        .desc-more{
            padding-left: 4rem;
            width: 30%;
            font-size: 10px;
            padding-right: 10px;
        }
    }

    .more-bg{
        background-image: url(../../../public/rent_agenyc_imgs/yuri-gokoryan-rVUZ5LseVKo-unsplash.jpg);
        height: 80vh;
        background-size: cover;
        background-position: center center;
        margin-top: 40px;
        filter: brightness(70%);
        transform: scale(1.7);
    }

    .img-content{
        position: absolute;
        top: 37rem;
        left: 2rem;
        color: #fff;

        .img-desc1{
            font-size: 10px;
            padding-bottom: 8px;
        }
        .img-desc2{
            font-size: 20px;
        }
        .img-desc3{
            font-size: 13px;
        }
    }

    .plus-icon{
        position: absolute;
        top: 37.6rem;
        left: 75rem;
        font-size: 3rem;
    }
    .plus-icon a{
        color: #151515d3;
        text-decoration: none;
        font-weight: bolder;
    }

  
  
}

.bg-text-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 120rem;
    padding: 5rem 25px ;
    height: 120vh;

    .img-grid{
        background-image: url(../../../public/rent_agenyc_imgs/david-andic-0jWqEDqnH-U-unsplash.jpg);
        height: 80vh;
        background-size: cover;
    }
    .text-h2-grid{
        font-size: 60px;
        padding-bottom: 40px;
    }
  }



 /* :root {
    --light: #fff;
    --dark: #000;
  }  */


 /*  .wrapper{
    --light: #fff;
    --dark: #000;
  }

  .wrap{
    background:var(--dark);
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  h1 {
    text-align: center;
  }
  .section{
    height:100vh;
    display: flex;
    align-items:center;
    justify-content:center;
  }
  .color-dark{
    color:#fff;
  }

 */